.grid-container {
  display: grid;
  justify-items: center;
  row-gap: 3rem;
  padding-block: 3rem 5rem;
}

@media (min-width: 640px) {
  .grid-container {
    max-width: 65em;
    margin-inline: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    align-content: start;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .grid-container {
    max-width: 1220px;
  }
}
