/* set the body */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  // background-color: #fff3da;
}
.plus-btn {
  width: 2.5rem;
  aspect-ratio: 1;
}
// body {
//   transition: all 0.1s ease-out;
//   background: linear-gradient(
//     180deg,
//     hsl(calc(30 * 1), 50%, 91%),
//     hsl(calc(30 * 2), 50%, 91%),
//     hsl(calc(30 * 3), 50%, 91%),
//     hsl(calc(30 * 4), 50%, 91%),
//     hsl(calc(30 * 6), 50%, 91%),
//     hsl(calc(30 * 7), 50%, 91%),
//     hsl(calc(30 * 8), 50%, 91%),
//     hsl(calc(30 * 9), 50%, 91%),
//     hsl(calc(30 * 10), 50%, 91%),
//     hsl(calc(30 * 11), 50%, 91%),
//     hsl(calc(30 * 12), 50%, 91%),
//     hsl(calc(30 * 13), 50%, 91%),
//     hsl(calc(30 * 14), 50%, 91%),
//     hsl(calc(30 * 15), 50%, 91%),
//     hsl(calc(30 * 16), 50%, 91%),
//     hsl(calc(30 * 17), 50%, 91%)
//   );
// }
