.heading {
  font-size: var(--fs-600);
  font-weight: 400;
  // background-color: hsl(var(--hue), 42%, 69%);
  // background-color: hsl(var(--hue), 100%, 30%);
  // background-color: hsl(var(--hue), 58%, 46%);
  background-color: hsl(var(--hue), 76%, 73%);
  background-color: hsl(var(--hue), 76%, 80%);
  word-wrap: break-word;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
}
.heading:hover {
  text-decoration: underline rgba(0, 0, 0, 0.138);
}
